**/target/
.idea
*.iml
*.class
*Test.java
**/test
application.properties
logs/
application.yml
application-dev.yml
TraceID_*.md
markdown/INDEX.md
.DS_Store
*.log

# Docker related
.env
config/
!.env.example
*.md

/verify-config.sh
/build-docker.sh
/.env.example
/.mvn/
