**/target/
.idea
*.iml
*.class
*Test.java
**/test
application.properties
logs/
application.yml
application-dev.yml
TraceID_*.md
INDEX.md
.DS_Store
*.log

# Docker related
.env
config/
!.env.example
DOCKER_DEPLOYMENT.md
*.md
